/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-odd-bg);
}

.debug {
    border: 1px solid red;
}

img {
    display: block;
}

/* general */

:root {
    --color-header: #0084fd;
    --color-odd-bg: #ffffff;
    --color-even-bg: #9792e4;
    --color-contrast: #b5ddff;
    --color-footer-bg: #333333;
    --color-color-h1: #fdc15f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Sans", sans-serif;
    background: var(--color-odd-bg);
    color: black;
}

h4 {
    padding: 20px 0;
}

p {
    line-height: 1.8em;
}

/* utility */
/* text */
.txt-white {
    color: var(--color-odd-bg);
}

.txt-black {
    color: black;
}

.txt-lilla {
    color: var(--color-even-bg);
}

.txt-sky {
    color: var(--color-header);
}

.txt-gray {
    color: gray;
}

/* border */
.small-rounded {
    border-radius: 20px;
}

.big-rounded {
    border-radius: 40px;
}

.rounded {
    border-radius: 50%;
}

.container {
    width: 100%;
    padding: 20px;
}

.small-container{
    width: 50%;
    margin: 0 auto;
}

/* background */
.even {
    background-color: var(--color-even-bg);
}

.bg-contrast {
    background-color: var(--color-contrast);
}

.bg-white {
    background-color: var(--color-odd-bg);
}

/* button */
.btn {
    border-radius: 30px;
    background-color: var(--color-odd-bg);
    padding: 6px 12px;
}

.btn-blue {
    background-color: var(--color-header);
}

.btn-lilla {
    background-color: var(--color-even-bg);
    padding: 12px 40px;
}

/* utility */
.card {
    padding: 20px;
    margin-bottom: 20px;
}

.txt-center {
    text-align: center;
}


section {
    padding: 20px;
    scroll-margin-top: 70px;
}

/* flex utility */
.d-flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.align-center {
    align-content: center;
    align-items: center;
}

.dir-column {
    flex-direction: column;
}

/* header */

header {
    background-color: var(--color-header);
    color: var(--color-odd-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */
header nav ul {
    
    display: none;
}

/* main */
main {
    margin-top: 70px;
}

main img {
    width: 100%;
}

/* demo */
#demo .fa-solid {
    font-size: 3em;
}

#demo-phone {
    width: 80%;
    margin: 0 auto;
}

#demo .container>.card {
    padding-bottom: 0;
}

span {
    margin: 20px 0;
}

/* plan */
#plan img,
h3,
p {
    padding: 20px 0;
}

#plan h3{
    font-size: 3em;
}

#plan span{
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
}

/* testimonials */

.box-img {
    width: 40%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: auto;
}

#testimonials img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials h2 {
    padding: 20px 0;
}

#testimonials h2,
p {
    padding: 20px 0;
}

/* benefits */

#benefits h2 {
    padding: 20px;
}

#benefits h3,
h4 {
    color: var(--color-even-bg);
}

#benefits h3 {
    font-size: 3em;
}

#benefits h4 {
    font-size: 2em;
}

/* About Us */
#about-us h2,
p {
    margin: 20px;
}

.relative {
    position: relative;
}

.box-img-about {
    width: 30%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

}

#about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.over {
    position: absolute;
    top: 0;
    left: 100px;
    font-size: 4em;
}

/* call to action */

h1{
    color: var(--color-color-h1);
    font-size: 5em;
}

#call-to-action span{
    font-size: 1.5em;
}

#call-to-action h2{
    font-size: 3em;
}

.btn-padding{
    padding: 15px 40px;
}

/* footer */
footer {
    background-color: var(--color-footer-bg);
    color: var(--color-odd-bg);
    padding: 20px;
}

footer p {
    margin-bottom: 20px;
}

/* media query */

@media screen and (min-width: 768px){
    #demo .container>.card {
        display: flex;
    }

    .demo-left {
        width: 60%;
        padding-bottom: 20px;
    }

    .demo-right {
        width: 100%;
        
        align-self: flex-end;
    }

    #demo .container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .container{
        display: flex;
        flex-wrap: wrap ;
        gap: 10px;
    }

    #demo .card{
        width: calc(100% / 3 - 10px);
    }

    #demo .card.is-large{
        width: calc(100% / 3 * 2 - 10px);
    }

    #testimonials .card{
        display: flex;
    }

    #benefits .card{
        width: calc(100% / 2 - 10px);
    }

    .about-us-left{
        width: calc(100% / 2 - 10px);
    }
    .about-us-right{
        width: calc(100% / 2 - 10px);
    }
    #call-to-action .container{
        display: block;
    }
}


@media screen and (min-width: 1200px) {
    header nav ul{
        display: flex;
        gap: 10px;
        
    }

    nav .fa-solid{
        display: none;
    }
    
   .plan-left{
    width: 48%;
   }
   .plan-right{
    width: 48%;
   }
   #benefits .card{
    width: calc(100% / 3 - 10px);
    }
}